<div id="featured">
  <div class="row">
    <div class="small-10 columns small-centered">

      <h1 class="form-title">Add Sport</h1>

      <%= form_for @sport do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit "Add Sport", class: "join tiny button expand" %>
      <% end %>
      <br>
      <%= link_to "Create game", new_game_path, class: "create tiny button expand", id: "sport-form" %>
      <br>
      <p><%= link_to "Back to all games", games_path %></p>

    </div>
  </div>
</div>
