      <h1>Add Sport</h1>

      <%= form_for @sport do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit "Add Sport" %>
      <% end %>

      <br>

      <table>
        <thead>
          <tr>
            <th>Full List of Sports (A-Z)</th>
          </tr>
        </thead>
          <% @sports.each do |sport| %>
        <tbody>
          <tr>
            <td><%= sport.name %></td>
          </tr>
        </tbody>
          <% end %>
      </table>

      <%= link_to "Back to Games", games_path %>
