<div id="featured">
  <div class="row">
    <div class="small-10 columns small-centered">

      <h1 class="form-title">Add Sport</h1>

      <%= form_for @sport do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit "Add Sport", class: "join tiny button expand" %>
      <% end %>
      <br>
      <%= link_to "Create game", new_game_path, class: "create tiny button expand", id: "sport-form" %>
      <br>
      <p><%= link_to "Back to all games", games_path %></p>

    </div>
  </div>
</div>

<div class="site-footer large-12 columns">
  <hr>
  <div class="row">
    <div class="small-6 centered columns">
      <p>Created by <%= link_to "Brian Stern", "https://github.com/bsterno" %></p>
    </div>
    <div class="small-6 columns">
      <ul class="inline-list right">
        <li><a href="https://www.linkedin.com/in/sternbrian"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://github.com/bsterno"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
  </div>
</div>
