<h1>Games</h1>

<table id="table_id" class="display">
  <thead>
    <tr>
      <th>Sport</th>
      <th>Game Description</th>
      <th>Start Date</th>
      <th>City</th>
      <th>Max Players</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
    <tr>
      <td><%= game.sport.name %></td>
      <td><%= link_to game.description, game_path(game) %></td>
      <td><%= game.start_date %></td>
      <td><%= game.city %></td>
      <td><%= game.max_players %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%=link_to "Create New Game", new_game_path %>
