<h1>Games</h1>

<table>
    <tr>
      <th>Game Name</th>
      <th>Sport</th>
      <th>Start Date</th>
      <th>City</th>
      <th>Max Players</th>
    </tr>
    <% @games.each do |game| %>
    <tr>
      <td><%= link_to game.name, game_path(game) %></td>
      <td><%= game.sport %></td>
      <td><%= game.start_date %></td>
      <td><%= game.city %></td>
      <td><%= game.max_players %></td>
    </tr>
  <% end %>
</table>

<%=link_to "Create New Game", new_game_path %>
