<div class="row">
  <div class="small-10 columns small-centered">

    <h1>Create a Game</h1>

    <h4>Don't see your sport? Add it to our database <%= link_to "here", new_sport_path %>.</h4>

    <%= form_for @game do |f| %>

      <%= f.label :sport %>
      <%= f.collection_select :sport_id, Sport.all.order('name'), :id, :name %>

      <%= f.label :start_date %>
      <%= f.datetime_local_field :start_date, value: "#{Date.today}", min: Date.today %>

      <div id="locationField">
        <label for="street_address">Enter Address</label>
        <input id="autocomplete" placeholder="Enter address"
           onFocus="geolocate()" type="text" name="game[street_address]"></input>
      </div>

      <%= f.label "Additional Information/Directions (optional)" %>
      <%= f.text_field :description, placeholder: "e.g., Field #3" %>

      <%= f.label :max_players %>
      <%= f.number_field :max_players %>

      <%= f.submit "Create Game" %>

    <% end %>

  </div>
</div>
