<h1>Create a Game</h1>

<h4>Don't see your sport? Add it to our database <%= link_to "here", new_sport_path %>.</h4>

<%= form_for @game do |f| %>

  <%= f.label :sport %>
  <%= f.collection_select :sport_id, Sport.all.order('name'), :id, :name %>

  <%= f.label "Game Description" %>
  <%= f.text_field :description %>

  <%= f.label :start_date %>
  <%= f.datetime_local_field :start_date, value: "#{Date.today}", min: Date.today %>

  <%= f.label :street_address %>
  <%= f.text_field :street_address %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :max_players %>
  <%= f.number_field :max_players %>

  <%= f.submit "Create Game" %>

<% end %>
