<!DOCTYPE html>
<%= favicon_link_tag 'arrow_logo_360.ico' %>
<html>
<head>
  <title>TeamUP</title>
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway', media: 'all' %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body onload="initialize()">

  <div class="page-wrap small-12 small-centered columns">

    <div class="main-image">

      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
              <%= link_to image_tag('arrow_logo_360.png'), root_path, class:"logo" %><h1 class="logo-end">eamUP</h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
              <%- if current_user -%>
                <li class="divider"></li>
                <li class="sign-in"><%= link_to 'All Games', games_path %></li>
                <li class="divider"></li>
                <li class="sign-in"><%= link_to 'My Games', user_path(current_user) %></li>
                <li class="divider"></li>
                <li class="sign-in"><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                <li class="divider"></li>
                <li class="sign-in"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
              <%- else -%>
                <li class="divider"></li>
                <li class="sign-in"><%= link_to 'All Games', games_path %></li>
                <li class="divider"></li>
                <li class="sign-in"><%= link_to 'Sign Up', new_user_registration_path %></li>
                <li class="divider"></li>
                <li class="sign-in"><%= link_to 'Sign In', new_user_session_path %></li>
              <%- end -%>
          </ul>
        </section>
      </nav>

        <div class="small-10 small-centered columns">
          <% flash.each do |key, value| %>
              <div data-alert class="flash <%= key %> alert-box radius">
                <% value.split("\n").each do |f| %>
                  <%= f %><br>
                <a href="#" class="close">&times;</a>
                <% end %>
              </div>
          <% end %>
        </div>

        <%= yield %>

    </div>
  </div>

        <%= javascript_include_tag 'application' %>

  <% unless current_page?(root_path) || (params[:controller] == "games" && params[:action] == "show") %>
    <footer class="panel">
      <div class="row">
        <hr>
        <div class="small-8 columns">© 2015 - Created by <%= link_to "Brian Stern", "https://github.com/bsterno" %></div>
        <div class="small-4 columns">
          <ul class="inline-list right">
            <li><a href="https://www.linkedin.com/in/sternbrian"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://github.com/bsterno"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  <% end %>

</body>
</html>
