<!DOCTYPE html>
<html>
<head>
  <title>TeamUP</title>
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway', media: 'all' %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body onload="initialize()">

      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
              <%= link_to image_tag('arrow_logo.png'), root_path, class:"logo" %>eamUP
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
              <%- if current_user -%>
                <li class="divider"></li>
                <li class="sign-in"><%= link_to 'All Games', games_path %></li>
                <li class="divider"></li>
                <li class="sign-in"><%= link_to 'My Games', user_path(current_user) %></li>
                <li class="divider"></li>
                <li class="sign-in"><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                <li class="divider"></li>
                <li class="sign-in"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
              <%- else -%>
                <li class="divider"></li>
                <li class="sign-in"><%= link_to 'All Games', games_path %></li>
                <li class="divider"></li>
                <li class="sign-in"><%= link_to 'Sign Up', new_user_registration_path %></li>
                <li class="divider"></li>
                <li class="sign-in"><%= link_to 'Sign In', new_user_session_path %></li>
              <%- end -%>
          </ul>
        </section>

      </nav>

      <div class="row">
        <div class="small-4 small-offset-6 columns">
          <%- flash.each do |key, value| -%>
              <div data-alert class="flash <%= key %> alert-box radius">
                  <%= value %>
                <a href="#" class="close">&times;</a>
              </div>
          <% end %>
        </div>
      </div>


      <div class="page-wrap small-12 small-centered columns">
        <%= yield %>
      </div>

      <%= javascript_include_tag 'application' %>
      <%= yield :extra_footer %>

</body>
</html>
